*{
    margin: 0;
    background-color: black;
    padding: 0;
    
     font-family: "Outfit", sans-serif;}
.body {
    background-color:black;
}
nav {
    background: #1f6deb;
    background-color:#1f6deb;
    display:flex;
    justify-content:space-between; 
    align-items:center;
    padding: 1rem 2rem;
    font-size: 1.2em;
    margin:2% 2%;
    border-radius: 45px;
    color:white;
    /* background-color: rgba(56, 9, 96, 0.868); */
    position: fixed;    
    top: 0;              
    left: 0;
    width: 90%;
    z-index: 1000;
}

.logo {
    display: flex;
        background: #1f6deb;
    align-items: center;
    gap: 0.5rem;
}.logo h2{
    background: #1f6deb;
    cursor: pointer;
}
.logo svg{
    background: #1f6deb;
} 
svg {
    width: 2.2rem;
    height: 2.2rem;
    color: white;
        background: #307ffe;
}

.centernav ul {
    display: flex;
     
    gap:2rem;
    background: #1f6deb;
}

li {
    list-style: none;
   
}

a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    
        background: #1f6deb;
}
.hero{
    margin: 25vh 1ch;
    margin-bottom: 15vh;
    padding: 0vw 5vw;
}.herotext h2{
    text-align: center;
    font-size: 4em;
    color: white;
}
.catch h4{
    padding:2rem;
    color: white;
    font-size: 1.2em;
    text-align: center;
    font-family: sans-serif;
}span{
    color:#307ffe;
}
 a.started svg#get{
    width: 1.3rem;
    height: 1.3rem;

}.getstarted{
    display: flex;
    justify-content: center;
    align-items: center;
}
.started {
    display: inline-flex;                
<<<<<<< HEAD
    justify-content:center;      
=======
    justify-content: center;      
>>>>>>> c4cd5e4 (mobile ui fix and svg fixes)
    align-items: center;          
    font-size: 1.3rem;
    width: 15vw;
    height: 8vh;
    
    gap:0rem;
    border: none;
    border-radius: 30px;
    background-color:#307ffe;
    color: white;
    cursor: pointer;
   transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.started svg{
    scale: 0.6;
}

.started:hover , button:hover {
  box-shadow: 0 0 20px #307ffe;

}

.hype {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 3%;
    font-weight: 500;
    text-align: center;
    
}
#login{
    display: inline-flex;
    justify-content: center;
    font-size: 1.5vw;
    text-decoration: underline;
    color:#307ffe;
    background: black;
}
a#login svg{
    scale: 0.5;


}
/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  background-color: #1f6deb;
}
.hamburger div {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 2px;
}

.mobile-sidebar {
  position: fixed;
  top: 0;
  left: -205%; 
  width: 40%;
  height: 100%;
  background-color: #1f6deb;
  color: white;
  padding: 2rem 1rem;
  transition: left 0.3s ease;
  z-index: 2000;
}
.mobile-sidebar.open {
  left: 0; 
}
.mobile-sidebar ul {
  display: flex;
  flex-direction: column;
  background-color: #1f6deb;
  gap: 1.5rem;
  margin-top: 20vh;
    
}
.mobile-sidebar li{
    background-color: #1f6deb;
}
.mobile-sidebar a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1500;
}


@media (max-width: 620px) {
     .centernav {
    display: none; /* hide desktop links */
  }
  .hamburger {
    display: flex; /* show hamburger */
  }
    nav{
        margin:0%;
        border-radius: 0px;
        padding-left: 3%;
        justify-content:space-evenly;
        width: 100vw;
    }
    div h2 ,  svg{
        font-size: 6vw;
    }nav{
        height: 4vh;
    }
    .centernav{
        display: none;
    }
    .hero{
        margin: 14vh 0% ;
        
        padding: 0%;
    }
    .herotext h2{
        padding-left: 5vw;
        font-size:4.5rem;
        text-align: left;
    }
    .catch h4{
        font-size: 4.4vw;
        text-align: left;
        padding-left: 5vw;
    }.hype #login{
        font-size: 1em;
         display:flex ;
        align-items: center;
        justify-content:center
    }.hype{
        display: flex;
        align-items: center;
    }
    #login svg{
        scale: 0.5;
        display: flex;

    }   
    .started {
  display: inline-flex;       
  align-items: center;      
  justify-content: center;   
  gap: 6px;                  
  color: inherit;  
  width: 30vw;
  color: white;  
  padding: 0% 3%;
    
      
}



}

